:root{
    --pokemon-type-normal: #A8A77A;
    --pokemon-type-fire: #EE8130;
    --pokemon-type-water: #6390F0;
    --pokemon-type-electric: #F7D02C;
    --pokemon-type-grass: #7AC74C;
    --pokemon-type-ice: #96D9D6;
    --pokemon-type-fighting: #C22E28;
    --pokemon-type-poison: #A33EA1;
    --pokemon-type-ground: #E2BF65;
    --pokemon-type-flying: #A98FF3;
    --pokemon-type-psychic: #F95587;
    --pokemon-type-bug: #A6B91A;
    --pokemon-type-rock: #B6A136;
    --pokemon-type-ghost: #735797;
    --pokemon-type-dragon: #6F35FC;
    --pokemon-type-dark: #705746;
    --pokemon-type-steel: #B7B7CE;
    --pokemon-type-fairy: #D685AD;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #0B223A;
    color: #fff;
    padding: 20px 40px;
    background-image: url('../public/images/bg-pokemon.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: brightness(0.89);
    height: 100%;
    position: relative;
    padding-bottom: 90px;
    transition: 0.8s linear all;
}

body.dark{
    background-image: url('../public/images/bg-night.webp');
}

body:has(.game-container),
body:has(.missingno-container){
    height: 100vh;
}

body:has(.missingno-page){
    background-image: url('../public/images/GlitchCity.png');
    color: #000;
}

body:has(.missingno-page) a{
    color: #000;
}

body:has(.missingno-page) footer a,
body:has(.missingno-page) footer,
body:has(.missingno-page) nav ul{
    color: #000;
    background: #ffffffcc;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    padding: 20px 50px;
    background: #00000011;
    margin: 0 0 25px 0;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

a:hover{
    opacity: 0.5;
}

h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

h2{
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
}

.input-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

input{
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 10px auto;
    border: none;
    border-radius: 8px;
    outline: none;
}

.loading{
    display: grid;
    place-items: center;
    gap: 20px;
    padding: 20px;
    background: #0000000f;
    border-radius: 8px;
    backdrop-filter: brightness(0.89);
    margin: 80px 20px;
}

ul.pokemons-container{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 40px;
}

ul.pokemons-container li{
    list-style: none;
    display: grid;
    place-items: center;
    gap: 20px;
    padding: 5px;
    background: #00000005;
    border-radius: 8px;
    backdrop-filter: brightness(0.89);
}

body.dark ul.pokemons-container li{
    background: #00000045;
}

ul.pokemons-container li a{
    display: grid;
    place-items: center;
    align-items: center;
    gap: 8px;
}

ul.pokemons-container li a p{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin-top: 15px;
}

ul.pokemons-container li a img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

body ul.pokemons-container .missingno-text{
    grid-column: 1/-1;
    text-align: center;
    color: #fff;
    background: #0000000f;
    padding: 10px;
    border-radius: 8px;
    backdrop-filter: brightness(0.89);
    margin-top: 20px;
}


/*Pokemon details*/

.pokemon-details{
    display: grid;
    place-items: center;
    gap: 20px;
    padding: 20px;
    background: #0000000f;
    border-radius: 8px;
    position: relative;
}

body.dark .pokemon-details{
    background: #00000045;
}

.pokemon-details .fav-icon{
    position: absolute;
    top: -15px;
    right: 10%;
    cursor: pointer;
    transition: 0.3s;
}

.pokemon-details .fav-icon:hover{
    transform: scale(1.2);
}

.pokemon-details .fav-icon svg{
    width: 35px;
    height: 35px;
}

.pokemon-details .fav-icon svg,
.pokemon-details .fav-icon svg path{
    color: #fff;
    stroke: #fff;
}

.pokemon-details .fav-icon.active svg{
    fill: #f00;
}

.pokemons-container .no-favs{
    grid-column: 1/-1;
    text-align: center;
}

.pokemon-details.missingno-page{
    background: #ffffffcc;
}

.pokemon-details h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    text-transform:capitalize
}

.pokemon-details p{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.pokemon-details .main-image{
    animation-duration: 0.6s;
    animation-name: pokemonGrowl;
    animation-iteration-count: 1;
}

.pokemon-details .in-game{
    animation-delay: 0.8s;
    animation-duration: 0.3s;
    animation-name: pokemonMove;
    animation-iteration-count: 1;
}

/*game*/

.game-container{
    display: grid;
    place-items: center;
    gap: 20px;
    padding: 20px;
    background: #0000000f;
    border-radius: 8px;
    max-width: 700px;
    margin: 0 auto;
}

.game-container iframe{
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 8px;
    overflow: hidden;
}

p.subtitle{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
}

/*dark mode*/

.dark-mode-toggle{
    display: grid;
    place-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 50%;
    background: #00000011;
    cursor: pointer;
    transition: 0.3s;
}

.dark-mode-toggle input{
    display: none;
}

.dark-mode-toggle label{
    cursor: pointer;
}

/*footer*/

footer{
    text-align: center;
    padding: 20px 0;
    background: #00000011;
    border-radius: 8px;
    backdrop-filter: brightness(0.89);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

footer a{
    color: #fff;
}

/*missingno*/

.missingno-container{
    display: grid;
    place-items: center;
    gap: 20px;
    padding: 20px;
    background: #0000000f;
    border-radius: 8px;
    max-width: 700px;
    margin: 0 auto;
    grid-column: 1 / -1;
}

.back{
    display: grid;
    place-items: center;
    gap: 8px;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1.5rem;
    color: #000;
}


/*Pagination*/

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.pagination button{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: #00000011;
    color: #fff;
    cursor: pointer;
    transition: 0.4s linear all;
    border: 1px solid transparent;
}

.pagination button:hover{
    background: #00000022;
    border-color: #ffffff55;
}


/*FilterType*/

.filter-container .buttons-container{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: flex-start;
    padding: 0 15px 15px 10px
}

/*scrollbar*/

.filter-container .buttons-container::-webkit-scrollbar {
    height: 20px;
    background: transparent;
}

.filter-container .buttons-container::-webkit-scrollbar-thumb {
    background: #00000022;
    border-radius: 8px;
}

.filter-container .buttons-container::-webkit-scrollbar-track {
    background: transparent;
}

.filter-container .buttons-container button{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    transition: 0.4s linear all;
    border: 1px solid transparent;
    text-transform: capitalize;
}

.filter-container .buttons-container button:hover{
    opacity: 0.6;
}

.filter-container .buttons-container .button-unknown,
.filter-container .buttons-container .button-shadow,
.filter-container .buttons-container .button-stellar{
    display: none;
}

.filter-container .buttons-container .button-normal{
    background: var(--pokemon-type-normal);
}

.filter-container .buttons-container .button-fire{
    background: var(--pokemon-type-fire);
}

.filter-container .buttons-container .button-water{
    background: var(--pokemon-type-water);
}

.filter-container .buttons-container .button-electric{
    background: var(--pokemon-type-electric);
}

.filter-container .buttons-container .button-grass{
    background: var(--pokemon-type-grass);
}

.filter-container .buttons-container .button-ice{
    background: var(--pokemon-type-ice);
}

.filter-container .buttons-container .button-fighting{
    background: var(--pokemon-type-fighting);
}

.filter-container .buttons-container .button-poison{
    background: var(--pokemon-type-poison);
}

.filter-container .buttons-container .button-ground{
    background: var(--pokemon-type-ground);
}

.filter-container .buttons-container .button-flying{
    background: var(--pokemon-type-flying);
}

.filter-container .buttons-container .button-psychic{
    background: var(--pokemon-type-psychic);
}

.filter-container .buttons-container .button-bug{
    background: var(--pokemon-type-bug);
}

.filter-container .buttons-container .button-rock{
    background: var(--pokemon-type-rock);
}

.filter-container .buttons-container .button-ghost{
    background: var(--pokemon-type-ghost);
}

.filter-container .buttons-container .button-dragon{
    background: var(--pokemon-type-dragon);
}

.filter-container .buttons-container .button-dark{
    background: var(--pokemon-type-dark);
}

.filter-container .buttons-container .button-steel{
    background: var(--pokemon-type-steel);
}

.filter-container .buttons-container .button-fairy{
    background: var(--pokemon-type-fairy);
}

.filter-container .buttons-container .button-shadow{
    background: var(--pokemon-type-shadow);
}


@media only screen and (min-width: 100px) and (max-width: 830px) {
    body{
        padding: 20px;
    }

    body:has(.missingno-text){
        height: 100vh;
    }

    body:has(.pokemon-details),
    body:has(.game-container){
        padding-bottom: 80px;
        height: auto;
    }

    main{
        padding-bottom: 20%;
    }

    header{
        position: sticky;
        top: 5px;
        z-index: 9999;
        background: #18a4b1;
    }

    nav ul{
        padding: 20px;
        justify-content: center;
        gap: 20px;
    }

    .input-container{
        position: sticky;
        top: 80px;
        z-index: 999;
    }

    ul.pokemons-container{
        margin-top: 20px;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }

    ul.pokemons-container li a p{
        font-size: 1.2rem;
    }

    .pokemon-details{
        place-content: center;

    }

    .pokemon-details article{
        padding: 15px 20px;
    }

    .pokemon-details img{
        width: 100%;
        height: auto;
    }

    .pokemon-details.missingno-page{
        color: #000;
    }

    .pokemon-details img.in-game{
        width: 120px;
        height: auto;
    }

    .game-container iframe{
        height: 270px;
    }
    .game-container{
        padding: 10px;
    }

    .pokemon-details h2{
        font-size: 2rem;
    }
    .pokemon-details p{
        font-size: 1.2rem;
    }
    .missingno-container{
        padding: 10px;
    }
    .back{
        font-size: 1.2rem;
    }

}

@keyframes pokemonGrowl{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes pokemonMove{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}